<div class="navbar navbar-light navbar-lewagon">

  <%= link_to "/", class: "navbar-brand position-relative" do %>
    <h1 class="yup-logo position-absolute"><%= 'Yup!' %></h1>
  <% end %>

  <div class="d-flex align-items-center">
    <% if user_signed_in? %>
      <%= link_to "Dashboard", dashboard_path, class: "nav-link btn btn-outline-info mr-3" %>
      <% if current_user.orders.find_by(state: 'pending') %>
        <%= link_to "", order_path(current_user.orders.find_by(state: 'pending')), class: 'fa fa-shopping-cart' %>
      <% end %>
      <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to "My account", edit_user_registration_path, class: "dropdown-item" %>
          <%#= link_to "My seeds", all_my_planted_veggies_path, class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </div>
    <% else %>
      <%= link_to "Login", dashboard_path, class: "nav-link btn btn-info" %>
    <% end %>
  </div>


  <!--   <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        </li>
        <li class="nav-item dropdown">
          <span class="navbar-toggler-icon"></span>
          <%#= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

          </div>
        </li>
      <%# else %>
        <li class="nav-item">
        </li>
      <%# end %>
    </ul> -->
</div>
