<div class="card-image" style="background-image: url('<%= cl_image_path "cl-terre-card", crop: :fill %>');">
  <!-- <div class="card-body"> -->
  <i class="far fa-plus-square" id="add-veggy-to-plant" data-toggle="modal" data-target="#planter_veggy_modal_<%= planter.id %>"></i>
</div>

<div class="modal fade" id="planter_veggy_modal_<%= planter.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <%= simple_form_for [planter, @new_planted_veggy], remote: true do |f| %>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add a veggetable</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= f.association :veggy %>
        <%= f.input :token, label: false, input_html: { value: token, class: 'd-none'} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit 'Submit', class: 'btn btn-primary ml-2' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
