<div class="planted-veggy-card" id="planted-veggy-card-id-<%=planted_veggy.id%>">
  <div class="card-image">
    <%= cl_image_tag planted_veggy.veggy.photo.key, class: "w-100" %>
    <p id="delete-planted-veggy"><%= link_to planted_veggy_path(planted_veggy), method: :delete, data: { confirm: "Delete #{planted_veggy.veggy.name}?" }, remote: true do %>
      <i class="far fa-trash-alt"></i>
    <% end  %>
    </p>
  </div>
  <div class="class-body-planter ">
    <p id="planted-veg-name"><%= planted_veggy.veggy.name.capitalize %></p>
    <% if planted_veggy.planting_day.nil? %>
    <div class='planted-veggies d-flex justify-content-between align-items-center' data-veggy-id="planted-veggy-id-<%= planted_veggy.id %>">
      <!-- <button type="button" class="btn btn-info w-100" data-dismiss="modal">Add to cart (<%= planted_veggy.veggy.price %> €)</button> -->
      <div data-veggy-id="veggy-<%= planted_veggy.veggy.id %>" >
        <%= form_tag order_items_path do %>
          <%= hidden_field_tag 'veggy_id', planted_veggy.veggy.id %>
          <%= submit_tag "Add", class: 'btn btn-info btn-block' %>
        <% end %>
      </div>
      <%= link_to "Plant", plant_planted_veggy_path(planted_veggy), method: :post, class: 'btn btn-secondary btn-block', remote: true %>
    </div>
  <% end %>
  </div>
</div>
