<div class="planters mt-5 mb-3">
  <div class="d-flex justify-content-between mb-4">
    <h2>My planters</h2>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      Add new Planter
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <%= simple_form_for(@new_planter) do |f| %>


          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add a planter</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= f.input :name, placeholder: 'Kitchen Planter' %>
            <%= f.input :orientation, collection: ['North', 'North-East','North-West', 'South', 'South-East', 'South-West', 'West', 'East'] %>
            <%= f.input :size, collection: ['Pot', 'Planter-small', 'Planter-large' ] %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit 'Submit', class: 'btn btn-primary ml-2' %>
          </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>


  <% @planters.each do |planter| %>
  <div class="card-planter">
    <div class="card-body-planter">

      <div class="d-flex justify-content-between">
        <h2><%= planter.name %></h2>
        <%= link_to "Delete", planter_path(planter), method: :delete, data: { confirm: "Delete #{planter.name}?" } %>
        </h2>
      </div>

        <p><%= planter.orientation %></p>
        <p>My Veggies:</p>
        <div class="cards">
        <% if planter.planted_veggies.present? %>
        <% planter.planted_veggies.each do |planted_veggy| %>

        <div class="planted-veggy-card">
          <div class="card-image">
            <%= cl_image_tag planted_veggy.veggy.photo.key, class: "w-100" %>
            <p id="delete-planted-veggy"><%= link_to planter_planted_veggy_path(planted_veggy.planter, planted_veggy), method: :delete, data: { confirm: "Delete #{planted_veggy.veggy.name}?" }, remote: true do %>
              <i class="far fa-trash-alt"></i>
            <% end  %>
            </p>
          </div>
          <div class="class-body-planter ">
            <p id="planted-veg-name"><%= planted_veggy.veggy.name.capitalize %></p>
            <% if planted_veggy.planting_day.nil? %>
              <div class='planted-veggies' data-veggy-id="planted-veggy-id-<%= planted_veggy.id %>">
                <%= link_to "Plant now!", plant_planted_veggy_path(planted_veggy), method: :post, class: 'btn btn-outline-secondary w-100', remote: true %>
              </div>
            <% end %>
          </div>
        </div>
        <% end %>
        <% end %>

        <% if planter.size == "Pot" && planter.planted_veggies.empty? %>

          <div class="planted-veggy-card ">
            <div class="card-image">
              <%= cl_image_tag("crbst_nnnn_20018_zsvbxe", class: "w-100") %>

              <!-- <div class="card-body"> -->
              <i class="far fa-plus-square" id="add-veggy-to-plant" data-toggle="modal" data-target="#planter_veggy_modal_<%= planter.id %>"></i>
            </div>

                <div class="modal fade" id="planter_veggy_modal_<%= planter.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <%= simple_form_for [planter, @new_planted_veggy] do |f| %>

                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add a planter</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <%= f.association :veggy %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <%= f.submit 'Submit', class: 'btn btn-primary ml-2' %>
                      </div>
                      <% end %>

                    </div>
                  </div>
                </div>
              <!-- </div> -->
          </div>
          <% elsif planter.size == "Planter-small" && planter.planted_veggies.count < 3 %>
          <% (3 - planter.planted_veggies.count).times do %>
          <div class="planted-veggy-card">
            <div class="w-100 card-image">
              <%= cl_image_tag("crbst_nnnn_20018_zsvbxe", class: "w-100") %>

              <!-- <div class="card-body"> -->
              <i class="far fa-plus-square" id="add-veggy-to-plant" data-toggle="modal" data-target="#planter_veggy_modal_<%= planter.id %>"></i>
            </div>
                <div class="modal fade" id="planter_veggy_modal_<%= planter.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <%= simple_form_for [planter, @new_planted_veggy] do |f| %>


                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add a planter</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <%= f.association :veggy %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <%= f.submit 'Submit', class: 'btn btn-primary ml-2' %>
                      </div>
                      <% end %>

                    </div>
                  </div>
                </div>
              <!-- </div> -->
          </div>
          <% end  %>
          <% elsif planter.size == "Planter-large" && planter.planted_veggies.count < 5 %>
          <% (5 - planter.planted_veggies.count).times do %>
          <div class="planted-veggy-card">
            <div class="w-100 card-image">
              <%= cl_image_tag("crbst_nnnn_20018_zsvbxe", class: "w-100 add-veggy-image", height: 200, crop: :fill) %>

              <!-- <div class="card-body"> -->
              <i class="far fa-plus-square" id="add-veggy-to-plant" data-toggle="modal" data-target="#planter_veggy_modal_<%= planter.id %>"></i>
            </div>
                <div class="modal fade" id="planter_veggy_modal_<%= planter.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <%= simple_form_for [planter, @new_planted_veggy] do |f| %>


                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add a planter</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <%= f.association :veggy %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <%= f.submit 'Submit', class: 'btn btn-primary ml-2' %>
                      </div>
                      <% end %>

                    </div>
                  </div>
                </div>
              <!-- </div> -->
          </div>
          <% end  %>
        <% end %>

    </div>
  </div>

  </div>
  <% end %>
</div>

