      <div class="card-planter">
        <div class="card-body-planter">
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <h1><i class="fas fa-seedling mr-3" style="color: <%= planter.color %>;"></i></h1>
              <h1><%= planter.name %></h1>
            </div>
            <%= link_to "Delete", planter_path(planter), method: :delete, data: { confirm: "Delete #{planter.name}?" } %>
            </h2>
          </div>
          <div class="orientation-container">
            <% if planter.sun == "Full sun" %>
              <p><i class="fas fa-sun"></i>     &nbsp    <%= planter.sun %></p>
            <% elsif planter.sun =="Part sun" %>
              <p><i class="fas fa-cloud-sun"></i>    &nbsp    <%= planter.sun %></p>
            <% else %>
              <p><i class="fas fa-cloud"></i>    &nbsp    <%= planter.sun %></p>
            <% end %>

          </div>
            <div class="cards">
            <% if planter.planted_veggies.present? %>
            <% planter.planted_veggies.each do |planted_veggy| %>
              <%= render 'pages/planted_veggy_card', planted_veggy: planted_veggy %>
            <% end %>
            <% end %>
            <% if planter.size == "Pot" && planter.planted_veggies.empty? %>
              <% token = rand(36**8).to_s(36) %>
              <div class="planted-veggy-card" id="<%= token %>">
                <%= render 'pages/card_mud', planter: planter, token: token %>
              </div>


              <% elsif planter.size == "Small planter" && planter.planted_veggies.size < 3 %>
              <% (3 - planter.planted_veggies.size).times do %>
                <% token = rand(36**8).to_s(36) %>
                <div class="planted-veggy-card" id="<%= token%>">
                  <%= render 'pages/card_mud', planter: planter, token: token %>
                    <!-- </div> -->
                </div>
              <% end  %>

              <% elsif planter.size == "Large planter" && planter.planted_veggies.size < 5 %>
              <% (5 - planter.planted_veggies.size).times do %>
                <% token = rand(36**8).to_s(36) %>
                <div class="planted-veggy-card" id="<%= token %>">
                  <%= render 'pages/card_mud', planter: planter, token: token %>
                    <!-- </div> -->
                </div>
              <% end  %>
            <% end %>
        </div>
      </div>
      </div>
